
<mat-card>
  <mat-card-title>
    New Address for this Person
  </mat-card-title>
  <mat-card-subtitle>
    Fill the form and submit
  </mat-card-subtitle>
  <mat-card-content>
    <app-address-form #addressForm (valid)="handleValid($event)"></app-address-form>
  </mat-card-content>
  <mat-list></mat-list>
      <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleSubmit(addressForm.address)" [disabled]="!(valid$ | async)">
        <mat-icon>send</mat-icon>
        <span>Create</span>
    </button>
    <button mat-raised-button color="" (click)="goBack()">
        <mat-icon>undo</mat-icon>
        <span>Back</span>
    </button>
    <a mat-raised-button color="" routerLink="..">
      <mat-icon>list</mat-icon>
      <span>To Address table</span>
    </a>
  </mat-card-actions>
</mat-card>