<td-data-table #table [data]="data" [columns]="columns" *ngIf="!isEmpty; else hasData">
  <ng-template tdDataTableTemplate="actions" let-row="row">
    <button mat-icon-button color="warn" matTooltip="Delete"  matTooltipPosition="above" (click)="triggerDelete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    <button mat-icon-button color="primary" matTooltip="Details" matTooltipPosition="above" (click)="triggerSelect(row)">
        <mat-icon>info_outline</mat-icon>
      </button>
  </ng-template>
</td-data-table>
<ng-template #hasData>
  <p>No data present</p>
</ng-template>